body{
    background-image: url(../img2.jpg);
    background-size: cover;
}
@font-face {
    font-family: NotoSansMono;
    src: url(../NotoSansMono-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: KdamTHmor;
    src: url(../KdamThmorPro-Regular.ttf);
}

@font-face {
    font-family: Kanit;
    src: url("/Kanit-Medium.ttf");
}
.menuBG {
    top: 0px;
    position: fixed;
    opacity: 60%;
    margin: -50px;
    width: 89vw;
    height: 
    100px;
    display: inline-block;
    background: black;    
    transform: skewX(-45deg);
    }

.menuButton{
    margin: 60px;
    left: 50%;
    font-family: KdamTHmor;
    position: fixed;
    text-decoration: none;
}
.menuHover{
    color: rgb(34, 102, 102);
    text-decoration: none;
    z-index: 1000;
    position: fixed;
    width: 22.25vw;
    height: 5vh;
    text-align: center;
}
.menuList{
    font-family: Kanit;
    margin-left: -11vh;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}
.menuDiv{
    left: -5vw;
    top: 0px;
position: fixed;
    width: 80vw;
}
#mainTitle{
    position: fixed;
    top: 20vh;
    right: 35vw;
    text-align: center;
    font-family: KdamTHmor;
    font-size: 8rem;
    color: white;
    text-decoration: underline;
}
#title{
    margin: 0px;
    text-align: center;
    font-size: 1rem;
    font-family: Kanit;
    color: #2b91b8;
    position: fixed;
    top: 2vh;
    right: -10px;
    width: 16vw;
    text-decoration: none;
}
.titleDiv{
    width: 10vw;
    position: fixed;
}
/* #titleM{
position: relative;
font-family: NotoSansMono;
font-size: 7rem;
color: white;
text-decoration: underline;
text-align: center;
margin: 0px;
padding: 1%;
top: 4vh;
margin: auto;
width: 50%;
padding: 10px;
}

#titleC{
    position: relative;
    font-family: NotoSansMono;
    font-size: 7rem;
    color: white;
    text-decoration: underline;
    text-align: center;
    margin: 0px;
    padding: 1%;
    top: 22vh;
    margin: auto;
    width: 50%;
    padding: 10px;
} */

#canvas{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
#titleMC{
    right: 10vw;
    top: 20vh;
    margin: 0px;
    position: absolute;
    font-family: KdamTHmor;
    font-size: 5.5rem;
    color: white;
    /* text-decoration: underline; */
    line-height: 120px;
    white-space: nowrap;
    border-top: 10px solid white;
}
.deep{
    position: absolute;
    top: 1000rem;
}
.subtitle{
    position: relative;
    top: 37rem;
}