@font-face {
    font-family: KdamTHmor;
    src: url(../KdamThmorPro-Regular.ttf);
}

@font-face {
    font-family: Kanit;
    src: url("/Kanit-Medium.ttf");
}

body{
    background-image: url("../Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.menuBG {
    top: 0px;
    position: fixed;
    opacity: 60%;
    margin: -50px;
    width: 89vw;
    height: 
    100px;
    display: inline-block;
    background: white;    
    transform: skewX(-45deg);
    }

.menuButton{
    margin: 60px;
    left: 50%;
    font-family: KdamTHmor;
    position: fixed;
    text-decoration: none;
}
.menuHover{
    color: rgb(34, 102, 102);
    text-decoration: none;
    z-index: 1000;
    position: fixed;
    width: 22.25vw;
    height: 5vh;
    text-align: center;
}
.menuList{
    font-family: Kanit;
    margin-left: -11vh;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}
.menuDiv{
    left: -5vw;
    top: 0px;
    position: fixed;
    width: 80vw;
}
#title{
    margin: 0px;
    text-align: center;
    font-size: 1rem;
    font-family: Kanit;
    color: #2b91b8;
    position: fixed;
    top: 2vh;
    right: -10px;
    width: 16vw;    
    text-decoration: none;
}
.titleDiv{
    width: 10vw;
    position: fixed;
}
#canvas{
    position: absolute;
    background-image: url("../Background.jpg");
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
#title1{
    margin: 0px;
    position: absolute;
    font-family: KdamTHmor;
    font-size: 8rem;
    color: white;
    /* text-decoration: underline; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 120px;
    white-space: nowrap;
    border-top: 10px solid white;
}

#title1::before{
    position: absolute;
    bottom: -70px;
    font-size: 40px;
    text-align: center;
    width: 100%;
}
#title{
    margin: 0px;
    text-align: center;
    font-size: 1rem;
    font-family: Kanit;
    color: #2b91b8;
    position: fixed;
    top: 2vh;
    right: -10px;
    width: 16vw;
    text-decoration: none;
}
.titleDiv{
    width: 10vw;
    position: fixed;
}